<app-navbar></app-navbar>
<router-outlet></router-outlet>
<div class="container mt-5">
  <div class="row">

    <div class="col-12">
      <form #userNameForm="ngForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label>UserName</label>

          <input type="text" class="form-control" name="username" ngModel required />

          <button type="submit" class="btn btn-primary mt-2">
            Submit
          </button>
        </div>

      </form>
    </div>

    <div class="col-md-4">
      <app-one></app-one>
    </div>

    <div class="col-md-4">
      <app-two></app-two>
    </div>

    <div class="col-md-4">
      <app-three></app-three>
    </div>

  </div>
</div>